@charset "utf-8";
/* CSS Document */

body{
font-family: 'Amiko', sans-serif;	
}

/* header */
.header-style{
	display: flex;
	flex-direction: row;
	margin-top: 0px;
	justify-content: space-around;
}

.qr-img{
	padding-left: 80px;
	width: 80%;
}



/* animacion */
.animation-style{
	margin-right: 60px;
	margin-left: 80px;
	size: 100%;
	width: 420px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #ffffff;
}

/*nav*/

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: revert;
    /* align-items: center; */
}
.navbar-nav  .navbar-light
.nav-item .nav-link{
    font-family: 'Amiko', sans-serif;
    color:#003A5B;
    font-size: 16px;
	font-weight: 600px;
    text-decoration: none;	 
}
 .navbar-nav .navbar-light .nav-item .nav-link {
    color:#003A5B;  
	font-family: 'Amiko', sans-serif;
	font-size: 16px;
    text-decoration: none;	
}
 .navbar-nav .navbar-light .nav-item
.nav-link:focus, .nav-link:hover {
    color: #6885A6;
	font-family: 'Amiko', sans-serif;
	font-size: 16px;
	font-weight: 600px;
    text-decoration: none;	
}  
 .navbar-nav .navbar-light .nav-item
.nav-link:visited{
font-family: 'Amiko', sans-serif;
color:#003A5B;
font-size: 16px;
text-decoration: none;
	font-weight: 600px;
}
 .navbar-nav .navbar-light .nav-item
.nav-link:active{
font-family: 'Amiko', sans-serif;
color:#003A5B;
font-size: 16px;
text-decoration: none;
font-weight: 600px;
}

a{
    font-family: 'Amiko', sans-serif;
    color:#003A5B;
    font-size: 18px;
    text-decoration: none;
	font-weight: 600px;
}




.logo-nav {
margin-left: 25px;
 
	
}
.text-logo{
	font-family: 'Amiko', sans-serif;	
	float: right;
	margin: 23px 15px;
	  color:#003A5B;
	
}
.title{
	font-family: 'Amiko', sans-serif;	
	font-size: 24px;
	color:#305C8F;
	margin-left: 115px;
}
.titleB{
	font-family: 'Amiko', sans-serif;	
	font-size: 42px;
	color:#003A5B;
	font-weight: bold;
	margin-left: 115px;
	
}
.titleC{
	font-family: 'Amiko', sans-serif;	
	font-size: 24px;
	color:#6885A6;
	font-weight: bold;
	margin-left: 115px;
	line-height: 1.5;
}
.titleF{
	font-family: 'Amiko', sans-serif;	
	font-size: 18px;
	color:#6885A6;
	font-weight: bold;
	margin-left: 1px;
	line-height: 1.5;
	margin-left: 0px;
	padding-top: 5px;
}
.title-Form{
	font-family: 'Amiko', sans-serif;	
	font-size: 18px;
	color:#6885A6;
	font-weight: bold;
	line-height: 1.5;
	margin-left: 115px;
}
.title-Footer{
	font-family: 'Amiko', sans-serif;	
	font-size: 18px;
	color:white;
	font-weight: bold;
	line-height: 1.5;

}
.fondo-title{
	font-family: 'Amiko', sans-serif;	
	background-color: #B0C9D1;
	padding: 55px 0 55px;
	color:#003A5B;
	margin-left: 0px;
	

}
.fondo-img{
	font-family: 'Amiko', sans-serif;	
	background-color: #B0C9D1;
	padding: 55px 0 55px;
	color:#003A5B;
	margin-left: 100px;

	

}
.footer-title{
	background-color: #003A5B;
	padding: 15px 0 55px;
	color:#FFFFFF;
}
.fondo-titleB{
  font-family: 'Amiko', sans-serif;	
	padding: 55px 0 55px;
	color:#003A5B;
	margin-right: 50px;

}
.title-contact{
	font-size: 48px;
	font-weight: bold;
	color:#003A5B;
}
.color-text{
	color:#003A5B;
}
.text-P{
	font-family: 'Amiko', sans-serif;	
	padding: 35px 0 35px;
	
	
}
.PT{
	margin: 0px 300px 25px;
	line-height: 1.5;
	color:#6885A6;
	
}
.PTB{
	margin: 0px 100px 0px;
	line-height: 1.5;
	color:#6885A6;
	font-family: 'Amiko', sans-serif;	
}
.dir-video{
	flex-direction: row;
}

/*Button*/

.btn1{
	

	font-size: 24px;
	font-family: 'Amiko', sans-serif;	
	color: white;
	background-color: #6885A6;
	width:256px;
	height: 56px;
	border-radius: 15px;
	border-color:white;
	text-decoration: none;
	border-style: none;

	
}
.btn2{

	font-size: 24px;
	font-family: 'Amiko', sans-serif;	
	color: #305C8F;
	background-color: #B0C9D1;
	width:256px;
	height: 56px;
	border-radius: 15px;
	border-color:white;
	text-decoration: none;
	border-style: none;

	
	
}
.ml-li{
	margin-left: 65px;
}

/* Formulario Contacto--------- */
.contact-form{
	display: flex;
    justify-content: center;
	align-self: center;
}

.contact-style{
	background-color: #6885A6;
	width: 550px;
	padding: 60px;
	border-radius: 20px;
	text-align: left;

}

.send-button-style{
	font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
	background-color: #003A5B;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
	margin-left: 360px;
    font-size: 1rem;
    border-radius: 0.25rem;
}
/*ICONS*/

.icon {
    color: #0067AC;
    font-size: 32px;
    margin-right: 5px;
	vertical-align: bottom;
}

.icon-xs {
    color: #009bdb;
    font-size: 20px;
    vertical-align: bottom;

}

.icon-m {
    color: #0067AC;
    font-size: 45px;
    vertical-align: bottom; 

}

.icon-md {
    color: #0067AC;
    font-size: 65px;
    vertical-align: bottom;

}

.icon-lg {
    color: #0067AC;
    font-size: 85px;
}

.icon-xl {
    color: #0067AC;
    font-size: 200px;
}

/* Formulario------------------ */
.header-flex{
	display: flex;
	flex-direction: row;
}

.form-style{
	background-color: #6885A6;
	padding: 60px;
	border-radius: 20px;
	margin: 60px 60px 120px 130px;
}

.input-style{
	display: flex;
    width: 100%;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-bottom: 20px;
}
.input-style2{
	display: flex;
    width: 100%;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-bottom: 20px;
}

.form-input-style{
	margin-right: 20px;
}


.form-text-style{
	color: #FFFFFF;
	margin-bottom: 5px;
	text-align: left;
}


.button-style{
    font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
	background-color: #003A5B;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
	float: right;
    font-size: 1rem;
    border-radius: 0.25rem;

}
.direct{
	display: flex;
	flex-direction: row;
	margin-left: 100px;
}
.img-left{
	margin-left: 100px;
}
.margin-text{
	margin-left: 100px; margin-top: 80px;
}

/*@media------------------------------------------------------*/
@media (max-width: 480px){
	.form-input-style{
		margin-right: 0px;
	}
.dir-footer{
		flex-direction: column;
	  justify-content: center;
	  align-content: center;
	
	}
.l-text{
		margin-left:30px;
		}

.ml-li{
	margin-left: 65px;
}
.ml-65{
	margin-left: 40px;
}
.text-alin{
text-align: center;
float: center;
}
.img-left{
	margin-left: 0px;
}
.fondo-img{
	float: right;
	margin-left: 0px;
}
.header-img{
	width: 70%;
	height: auto;
}
.header-img2{
	width: 70%;
	height: auto;
}
.direct{
	display: flex;
	flex-direction: column;
	margin-left: 25px;
}
.title{
	font-family: 'Amiko', sans-serif;	
	font-size: 24px;
	color:#305C8F;
	margin-left: 35px;
}
.titleB{
	font-family: 'Amiko', sans-serif;	
	font-size: 42px;
	color:#003A5B;
	font-weight: bold;
	margin-left: 35px;
	
}
.titleC{
	font-family: 'Amiko', sans-serif;	
	font-size: 24px;
	color:#6885A6;
	font-weight: bold;
	margin-left: 35px;
	line-height: 1.5;
}
.title-Form{
	font-family: 'Amiko', sans-serif;	
	font-size: 18px;
	color:#6885A6;
	font-weight: bold;
	line-height: 1.5;
	margin-left: 15px;
}
.PTB{
	margin: 0px 20px 0px;
	line-height: 1.5;
	color:#6885A6;
	font-family: 'Amiko', sans-serif;	
}
.PT{
	margin: 0px 40px 0px 45px;
	line-height: 1.5;
	color:#6885A6;
	
}
.margin-text{
	margin-left: 10px; margin-top: 20px;
	font-size: 38px;
	}
.contact-style{
		background-color: #6885A6;
		width:350px;
		padding: 50px;
		border-radius: 20px;
		text-align: left;
	
}
.contact-form{
	display: flex;
    justify-content: center;
	align-self: center;
	align-content: center;
}

#Form{
    flex-direction: column;	
	}

.form-style{
		margin: 60px 30px 20px 30px;
		padding: 30px;
	}
#Form-text.title{
		margin-left: 60px;
		}
#Form-text.titleB{
		margin-left: 60px;	
		}
.header-flex{
			display: flex;
			flex-direction: column;
}
.send-button-style{
	font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
	background-color: #003A5B;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
	margin-left: 210px;
    font-size: 1rem;
    border-radius: 0.25rem;
}
.button-style{
    font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
	background-color: #003A5B;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
	margin-left: 195px;
    font-size: 1rem;
    border-radius: 0.25rem;

}
.img-left{
	margin-left: 0px;
}
.ml-30{
	margin-left: 15px;
}
.input-style{
	display: flex;
    width: 230px;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-bottom: 20px;
}
.input-style2{
	display: flex;
    width: 230px;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-bottom: 20px;
}
}

@media (min-width: 490px) and (max-width: 760px){
#S1{
flex-direction: column;	
}
.ml-65{
	margin-left: 40px;
}
.btn2{
		margin-left: 115px;
	}
.PT{
	margin: 0px 60px 0px 60px;
		
	}
.PTB{
		margin: 0px 60px 0px 60px;
		line-height: 1.5;
		color:#6885A6;
		font-family: 'Amiko', sans-serif;	
}
.ml-10{
	margin-left: 10px;
}
#Form{
    flex-direction: column;	
	}

.form-style{
		margin: 60px 21px;
		padding: 30px;
	}
.contact-style{
		background-color: #6885A6;
		width:480px;
		padding: 50px;
		border-radius: 20px;
		text-align: left;
	
	}
#Form-text.title{
margin-left: 60px;
}
#Form-text.titleB{
margin-left: 60px;	
}
	
	.navbar-brand{
		margin-right: 45px;
	}

.header-flex{
		display: flex;
		flex-direction: column;
	}	

.header-style{
	display: flex;
	flex-direction: column;
}	
.direct{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}
.title{
	font-family: 'Amiko', sans-serif;	
	font-size: 22px;
	color:#305C8F;
	margin-left: 35px;
}
.titleB{
	font-family: 'Amiko', sans-serif;	
	font-size: 28px;
	color:#003A5B;
	font-weight: bold;
	margin-left: 35px;
	
}
.titleC{
	font-family: 'Amiko', sans-serif;	
	font-size: 18px;
	color:#6885A6;
	font-weight: bold;
	margin-left: 35px;
	line-height: 1.5;
}
.titleF{
	font-family: 'Amiko', sans-serif;	
	font-size: 18px;
	color:#6885A6;
	font-weight: bold;
	margin-left: 1px;
	line-height: 1.5;
	margin-left: 0px;
	padding-top: 5px;
}
.title-Form{
	font-family: 'Amiko', sans-serif;	
	font-size: 18px;
	color:#6885A6;
	font-weight: bold;
	line-height: 1.5;
	margin-left: 25px;
}
.dir-video{
	flex-direction: column;
}

.l-text{
margin-left:55px;
}
.fondo-title-img{
	font-family: 'Amiko', sans-serif;	
	background-color: #B0C9D1;
	padding: 55px 0 55px;
	color:#003A5B;
	margin-left: 0px;
	

}
.dir-footer{
	flex-direction: row;
   align-content: center;
}
.img-left{
	margin-left: 0px;
}
.P-redes{
	padding: 0px;
	margin:0px;
}
.ml-li{
	margin-left: 65px;
}

.contact-form{
	display: flex;
    justify-content: center;
	align-self: center;
	align-content: center;
}
.send-button-style{
	font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
	background-color: #003A5B;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
	margin-left: 300px;
    font-size: 1rem;
    border-radius: 0.25rem;
}
.button-style{
    font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
	background-color: #003A5B;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
	margin-left: 290px;
    font-size: 1rem;
    border-radius: 0.25rem;

}
.margin-text{
	margin-left: 40px; margin-top: 80px;
	font-size: 38px;
	}

.ml-10{

	font-size: 17px;
}

.fondo-img{
	float: center;
	margin-left: 0px;
}
.header-img{
	width: 70%;
	height: auto;
}
.header-img2{
	width: 100%;
	height: auto;
}

.text-alin{
	text-align: center;
	float: center;
	}
	.form-input-style{
		margin-right: 0px;
	}
.input-style{
		display: flex;
		width: 330px;
		padding: 0.5rem 0.5rem;
		font-size: 1rem;
		font-weight: 400;
		background-color: #fff;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		margin-bottom: 20px;
	}
.input-style2{
		display: flex;
		width: 330px;
		padding: 0.5rem 0.5rem;
		font-size: 1rem;
		font-weight: 400;
		background-color: #fff;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		margin-bottom: 20px;
	}
}
@media (min-width: 600px) and (max-width: 690px){
	.form-style{
		margin: 60px 61px;
		padding: 30px;
	}	
	.form-input-style{
		margin-right: 0px;
	}
	
}
@media (min-width: 700px) and (max-width: 760px){
	.form-style{
		margin: 60px 85px;
		padding: 30px;
	}
	.form-input-style{
		margin-right: 0px;
	}
	.input-style{
		display: flex;
		width: 100%;
		padding: 0.5rem 0.5rem;
		font-size: 1rem;
		font-weight: 400;
		background-color: #fff;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		margin-bottom: 20px;
	}
	.input-style2{
		display: flex;
		width: 100%;
		padding: 0.5rem 0.5rem;
		font-size: 1rem;
		font-weight: 400;
		background-color: #fff;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		margin-bottom: 20px;
	}
}
@media (min-width:760px) and (max-width: 1100px){
.form-style{
		margin: 110px 15px;
		padding: 30px;
	}
	.dir-footer{
	flex-direction: column;
	  justify-content: center;
	  align-content: center;
	
	}
.l-text{
		margin-left:30px;
		}

.ml-li{
	margin-left: 65px;	
}
.header-img{
	width: 100%;
	height: auto;
}
.header-img2{
	width: 100%;
	height: auto;
}
.align{
	align-self: center;
}
.fondo-img{
	font-family: 'Amiko', sans-serif;	
	background-color: #B0C9D1;
	padding: 55px 0 55px;
	color:#003A5B;
	float:center;
	margin-left: 0px;
	

}
.title{
	font-family: 'Amiko', sans-serif;	
	font-size: 24px;
	color:#305C8F;
	margin-left: 5px;
}
.titleB{
	font-family: 'Amiko', sans-serif;	
	font-size: 28px;
	color:#003A5B;
	font-weight: bold;
	margin-left: 5px;
	
}
.titleC{
	font-family: 'Amiko', sans-serif;	
	font-size: 24px;
	color:#6885A6;
	font-weight: bold;
	margin-left: 5px;
	line-height: 1.5;
}
.direct{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}
.text-alin{
	text-align: center;
	}
	.titleF{
		font-family: 'Amiko', sans-serif;	
		font-size: 18px;
		color:#6885A6;
		font-weight: bold;
		margin-left: 1px;
		line-height: 1.5;
		margin-left: 0px;
		padding-top: 5px;
	}
	.img-left{
		margin-left: 0px;
	}
.PT{
		margin: 0px 60px 0px 60px;
			
	}
.PTB{
		margin: 0px 30px 0px 30px;
		line-height: 1.5;
		color:#6885A6;
		font-family: 'Amiko', sans-serif;	
}
.margin-text{
			margin-left: 40px; margin-top: 10px;
			font-size: 38px;
	}
.title-Form{
	font-family: 'Amiko', sans-serif;
    font-size: 18px;
    color: #6885A6;
    font-weight: bold;
    line-height: 1.5;
    margin-left: 0px;
}
}
@media (min-width: 1100px) and (max-width: 1250px){
	.form-input-style{
		margin-right: 0px;
	}
	#S1{
       flex-direction:row;	
     }
	.btn2{
		margin-left: 115px;
	}
	.PT{
			margin: 0px 20px 20px;
		
	}
#Form{
    flex-direction: column;	
	}	
.form-style{
		margin: 60px 30px 20px 30px;
		
	}

.title{
margin-left: 10px;
}
.titleB{
margin-left: 10px;	
margin-right: 15px;
}
.titleC{
	font-family: 'Amiko', sans-serif;	
	font-size: 24px;
	color:#6885A6;
	font-weight: bold;
	margin-left: 5px;
	line-height: 1.5;
}
.direct{
	display: flex;
	flex-direction: row;
	margin-left: 5px;
}
.fondo-title{
	font-family: 'Amiko', sans-serif;	
	background-color: #B0C9D1;
	padding: 55px 0 55px;
	color:#003A5B;
	margin-left: 0px;
	

}
.title-Form{
	margin-left: 10px;	
	}
.navbar-brand{
		margin-right: 45px;
}


.header-flex{

	flex-direction: column;
}
.dir-footer{
	flex-direction: row;
   align-content: center;
}
.titleF{
	font-family: 'Amiko', sans-serif;	
	font-size: 18px;
	color:#6885A6;
	font-weight: bold;
	margin-left: 1px;
	line-height: 1.5;
	margin-left: 0px;
	padding-top: 5px;
}
.ml-65{
	margin-left: 65px;
}
.ml-li{
	margin-left: 55px;
}
.img-left{
	margin-left: 0px;
}
.l-text{
	margin-left:0px;
}
.text-alin{
	text-align: center;
	float:right;
	}
.fondo-img{
	
	
float:right;
		
	
}
.header-img{
	width: 70%;
	height: auto;
}
.header-img2{
	width: 100%;
	height: auto;
}


 .margin-text{
	margin-left: 40px; margin-top: 10px;
	font-size: 38px;
}
}

@media (min-width: 1250px) and (max-width: 2550px){
	
	.titleF{
		font-family: 'Amiko', sans-serif;	
		font-size: 18px;
		color:#6885A6;
		font-weight: bold;
		margin-left: 1px;
		line-height: 1.5;
		margin-left: 0px;
		padding-top: 5px;
	}
	.img-left{
		margin-left: 0px;
	}
	.text-alin{
		text-align: center;
		float:right;
		}
.fondo-img{

float:right;
			
}
.header-img{
	width: 70%;
	height: auto;
}
.header-img2{
	width: 100%;
	height: auto;
}
.margin-text{
	margin-left: 40px; margin-top: 10px;
	font-size: 38px;
}
}